extends layout

block content
    #chart
    div(class="absolute-footer footer")
        p &copy; #{year} - Seth Isernhagen

    script(src='https://d3js.org/d3.v3.min.js')
    script(src='/javascripts/d3_bubbles.js')