extends layout

block content
  #wrap
    .container
        .row
            #line-chart
    #push
  .footer
      p
      | &copy; #{year} - Seth Isernhagen
      //include ../public/javascripts/d3_line_chart.js
      //script(src='../public/javascripts/d3_line_chart.js')
      script(src='http://d3js.org/d3.v3.min.js')
      script(src='/javascripts/d3_line_chart.js')
//script(src='/javascripts/d3_line_chart.js')