html
	height 100%

body
	padding-top 50px
	font-family "Pontano Sans", Verdana, Helvetica, sans-serif
	font-size 18px
	height 100%

#chart
	height 100%
	z-index -1

.absolute-footer
	position absolute
	z-index 1
	bottom 0
	height 30px

.footer
	font-size 14px
	margin-left 20px

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
	font-family "Pontano Sans", Verdana, Helvetica, sans-serif

.navbar-inverse 
	background-color #333333

.navbar-brand
	font-size 28px

.navbar-collapse.collapse
	float left

.navbar-inverse .navbar-nav > li > a 
	font-size 22px

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus
	background-color black

.bubble-background
	position absolute
	right 0px
	z-index -1
	background-repeat no-repeat
	background-size cover

.text-background
	background-color #ffffff
	z-index -1
	background-color rgba(255,255,255,0.9)
	padding 10px

.text-block
	color #000000
	opacity 1
	margin 5px

#wrap
	min-height 100%
	height auto !important
	height 100%
	margin 0 auto -30px

#push, #footer
	height 60px

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

@media (min-width 768px)
	.navbar-collapse.collapse 
		float right
